<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试支付</title>
</head>
<body>

<form th:action="@{/pay}" method="post">
    <div id="body1" class="show" name="divcontent">
        <dl class="content">
            <dt>商户订单号 ：</dt>
            <dd>
                <input name="out_trade_no" />
            </dd>
            <hr class="one_line">
            <dt>订单名称 ：</dt>
            <dd>
                <input  name="subject" />
            </dd>
            <hr class="one_line">
            <dt>付款金额 ：</dt>
            <dd>
                <input  name="total_amount" />
            </dd>
            <hr class="one_line">
            <dt>商品描述：</dt>
            <dd>
                <input name="body" />
            </dd>
            <hr class="one_line">
            <dt></dt>
            <dd id="btn-dd">
						<span class="new-btn-login-sp">
							<button class="new-btn-login" type="submit"
                                    style="text-align: center;">付 款</button>
						</span> <span class="note-help">如果您点击“付款”按钮，即表示您同意该次的执行操作。</span>
            </dd>
        </dl>
    </div>
</form>

</body>
</html>